body,html{
    background-color:#151515;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    color:#E88934;
    text-shadow: 2px 2px 5px rgba(219, 94, 36, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    overflow:hidden;
}
div{
    display:block;
    /*outline:1px solid red;*/
}

.info{
    background:#111111;
}
.menuButton{
    position:absolute;
    background:#151515;
    height:60px;
    width:60px;
    right:0px;
    border:none;
    border-bottom:10px solid #E88934;
    box-shadow:0 0 25px rgba(219, 94, 36, 0.5);
    transition:0.5s;
    color:#E88934;
    text-shadow: 2px 2px 5px rgba(219, 94, 36, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: center;
}
.menuButton:hover{
    border-bottom:10px solid #db5e24;
    background:#111111;
    transition:0.3s;
    right:5px;
}
.menuButton:active{
    box-shadow:0 0 25px 10px rgba(219, 94, 36, 0.5);
    transition:0s
}

#systemInfo{
    position:absolute;
    height:100%;
    width:25%;
    bottom:0;
}
#closeInfo{
    position:absolute;
    
}